/* 
font-family: 'Bree Serif', serif; */

body{
    font-family: 'Bree Serif', serif; 
}
p{
    font-size: 18px;
}
.nav-extended{
    height: 70px !important;
}
/* navigation bar */
.nav-wrapper{
    background-color: #6f4037;
    padding: 0px 80px;
    height: 70px !important;
}
.nav-wrapper ul li a{
    font-size: 18px !important;
    margin: 0px 7px !important;
}
.nav-wrapper .material-icons{
    position: relative;
    display: inline;
    font-size: 23px;
    top: 5px;
}
.sidenav{
    background-color: #6f4037 !important;
}
.sidenav .material-icons ,a{
    color: #fff !important;
}

/* Apply fonts */
.header{
    font-family: 'Pacifico', cursive;
}
.brand-logo,h4{
    font-family: 'Pacifico', cursive;
}
.brand-logo .material-icons{
    font-size: 42px;
    top: 1.5px;
}

/* Home */
.slider .indicators .indicator-item.active{
    background-color: #6f4037;
}
.move{
    margin-top: 60px;
}

/* description section */
.description{
    padding-bottom: 50px;
}

/* Card section */
.fcard{
    padding: 50px 0px;
}
.fcard .col{
    padding: 50px 20px;
}
.fcard .row{
    padding: 0px 50px;
}
.card-reveal{
    background-color: #6f4037a9 !important;
    color: #fff !important;
}

/* Parallex effect */
.parallax-container{
    min-height: 480px;
    height: auto;
    background-image: linear-gradient(to bottom, #6f4037a9, #6f4037a9)
}

/* Services section */
.icon-coffee{
    color: #6f4037;
}

/* testimonial section */
.card-panel span{
    font-size: 18px;
    font-weight: 500;
}
.card-panel p{
    font-size: 15px;
}

/* footer section */
.footer-one{
    background-color: #6f4037;
}
.footer-two{
    background-color: #462822;
    margin-bottom: 0px;
}
.footer-one a{
    font-size: 18px;
}
.footer-one a:hover,
.footer-one p:hover {
    color: #fff !important;
}

@media(max-width: 992px){
    .nav-wrapper{
        padding: 0px 4px;
    }
    .fcard .col{
        padding: 20px 0px;
    }
    .card{
        margin: 0px auto;
        width: 500px;
    }
}
@media(max-width: 576px){
    .card{
        width: 100%;
    }
    .fcard{
        padding: 20px 0px;
    }
    .header{
        font-size: 40px !important;
    }
    h5 .header{
        font-size: 20px !important;
    }
}